.wrapper {
    background-color: #fff;
    box-shadow: 1px 1px 6px #ccc;
    border: #000 solid;
    .item {
        padding: 12px 25px;
        margin: 0;
        display: block;
        text-align: left;
    }
}

.item:hover {
    background-color: green;
    color: #fff;
}
